*{
    margin:0;
    padding:0;
}
.video__container{
    padding-bottom:1rem;
}
.video__description{
    text-align:center;
    margin-bottom:2.5rem;
}
.video__content{
    position:relative;
}
.video__button{
    position:absolute;
    left: 2rem;
    bottom:-1rem;
    padding: 7px;
    border:none;
}
.video__button-icon{
    font-size: 3rem; 
    display: flex;
    color:blue;
}

.video-button{
    background: rgb(42, 42, 230);
}
.tour-search{
    background:blue;
    padding-block: 20px;
}
.tour-search-form .input-label{
    color:#fff;
    font-size:20px;
    margin-left:20px;
    margin-block:10px;
}
.tour-search-form .input-field{
    background:#fff;
    padding:10px 15px;
    font-size:18px;
    border-radius:50px;
}
#checkin{
    width:190px;
}
#checkout{
    width:190px;
}
.tour-search-form .input-field::placeholder{
    color:grey;
}
.tour-search-form .input-field::-webkit-datetime-edit{
    color:grey;
    text-transform:uppercase;
}
.tour-search-form .input-wrapper{
    margin-bottom:15px;
}
.tour-search .btn{
    width:100%;
    border-width: 1px;
    font-weight:600;
    margin-top:35px;
}
.btn{
    width: 200px;
    height:45px;
    border-radius:50px;
    background:rgb(70, 70, 214);
}
.btn:hover{
    background:blue;
}
/* this the media for the video section for various difference*/


/* for small devices*/
/* for video */
@media screen and (min-width:359px){
    .video__button{
        transform:translateX(340px);
    }
}
/* for tour*/
@media screen and (max-width:390px){
    .tour-search-form{
        display:grid;
    }
    .tour-search-form .input-wrapper{
        margin:0px 60px;
    }
    .tour-search .btn{
       width:200px;
        margin-top:20px;
        transform: translateX(70px);
    }
}
@media screen and (max-width:400px) {
    .tour-search-form{
        display:grid;
    }
    .tour-search-form .input-wrapper{
        margin:0px 60px;
    }
    .tour-search .btn{
       width:200px;
        margin-top:20px;
        transform: translateX(70px);
    }
}
/* for medium video*/

/* for video*/
@media screen and (max-width:580px){
    .video__button{
        transform:translateX(140px);
    }
 }
@media screen and (min-width:580px){
    .video__button{
        transform:translateX(-270px);
    }
    .tour-search-form{
        display:grid;
        grid-template-columns:1fr 1fr;
        align-items:flex-end;
        gap:15px;
    
    }
    .tour-search-form .input-wrapper{
        margin-bottom:0;
    }
    .tour-search-form .input-field{
        padding:16px 20px;
    }
    .tour-search .btn{
        grid-column:span 2;
        margin-top:20px;
    }

}
@media screen and (min-width:609px){
    .video__button{
        transform:translateX(150px);
    }
}
@media screen and (max-width:700px){
    .video__button{
        margin-right:150px;
        z-index:10000px;
    }
}
@media screen and (max-width:800px){
    .video__button{
        margin-right:260px;
        z-index:10000px;
    }

}
@media screen and (min-width:900px){
.tour-search-form{
    grid-template-columns: repeat(4,1fr);
}
.tour-search .btn{
    padding:15px;
    grid-column: unset;
    margin-top:0;
}
}
@media screen and (max-width:900px){
    .video__button{
        margin-right:360px;
        z-index:10000px;
    }
}
@media screen and (min-width:1020px){
    .video__button{
        margin-right:400px;
        z-index:10000px;
    }
    .tour-search .btn{
        grid-column:span 2;
        margin-top:20px;
        transform:translateX(240px);
    }
}
@media screen and (max-width:1020px){
    .video__button{
        margin-right:400px;
        z-index:10000px;
    }
}


