*{
    margin:0;
    padding:0;
}
.video__container{
    padding-bottom:1rem;
}
.video__description{
    text-align:center;
    margin-bottom:2.5rem;
}
.video__content{
    position:relative;
}
.video__button{
    position:absolute;
    right: 3rem;
    bottom:-1rem;
    padding: 7px;
    border:none;
}
.video__button-icon{
    font-size: 2rem; 
    display: flex;
}

.video-button{
    background: rgb(42, 42, 230);
}
.tour-search{
    background:blue;
    padding-block: 20px;
}
.tour-search-form .input-label{
    color:#fff;
    font-size:20px;
    margin-left:20px;
    margin-block:10px;
}
.tour-search-form .input-field{
    background:#fff;
    padding:10px 15px;
    font-size:18px;
    border-radius:50px;
}
#checkin{
    width:190px;
}
#checkout{
    width:190px;
}
.tour-search-form .input-field::placeholder{
    color:grey;
}
.tour-search-form .input-field::-webkit-datetime-edit{
    color:grey;
    text-transform:uppercase;
}
.tour-search-form .input-wrapper{
    margin-bottom:15px;
}
.tour-search .btn{
    width:100%;
    border-width: 1px;
    font-weight:600;
    margin-top:35px;
}
.btn{
    width: 200px;
    height:45px;
    border-radius:50px;
    background:rgb(70, 70, 214);
}
.btn:hover{
    background:blue;
}
@media screen and (min-width:309px){
    .video__button{
        transform:translateX(150px);
    }
}
@media screen and (min-width:409px){
    .video__button{
        transform:translateX(150px);
    }
}
@media screen and (min-width:569px){
    .video__button{
        transform:translateX(-270px);
    }
}
@media screen and (min-width:609px){
    .video__button{
        transform:translateX(-300px);
    }
}
@media screen and (min-width:1020px){
    .video__button{
        margin-right:400px;
        z-index:10000px;
    }
}
@media screen and (max-width:1020px){
    .video__button{
        margin-right:400px;
        z-index:10000px;
    }
}
@media screen and (max-width:900px){
    .video__button{
        margin-right:360px;
        z-index:10000px;
    }
}
@media screen and (max-width:800px){
    .video__button{
        margin-right:260px;
        z-index:10000px;
    }
}
@media screen and (max-width:700px){
    .video__button{
        margin-right:150px;
        z-index:10000px;
    }
}

