 <!--==================== FOOTER ====================-->
 <footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content grid">
            <div class="footer__data">
                <h3 class="footer__title text-white">Travel</h3>
                <p class="footer__description text-white">Travel you choose the <br> destination, 
                    we offer you the <br> experience.
                </p>
                <div>
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social">
                        <i class="ri-facebook-box-fill "></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="footer__social">
                        <i class="ri-twitter-fill "></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social">
                        <i class="ri-instagram-fill "></i>
                    </a>
                    <a href="https://www.youtube.com/" target="_blank" class="footer__social">
                        <i class="ri-youtube-fill"></i>
                    </a>
                </div>
            </div>

            <div class="footer__data text-white">
                <h3 class="footer__subtitle text-white">About</h3>
                <ul class="text-white">
                    <li class="footer__item text-white">
                        <a href="" class="footer__link text-white">About Us</a>
                    </li>
                    <li class="footer__item text-white">
                        <a href="" class="footer__link text-white">Features</a>
                    </li>
                    <li class="footer__item text-white">
                        <a href="" class="footer__link text-white">New & Blog</a>
                    </li>
                </ul>
            </div>

            <div class="footer__data text-white">
                <h3 class="footer__subtitle text-white">Company</h3>
                <ul class="text-white">
                    <li class="footer__item text-white">
                        <a href="" class="footer__link text-white">Team</a>
                    </li>
                    <li class="footer__item text-white">
                        <a href="" class="footer__link text-white">Plan y Pricing</a>
                    </li>
                    <li class="footer__item text-white">
                        <a href="" class="footer__link text-white">Become a member</a>
                    </li>
                </ul>
            </div>

            <div class="footer__data text-white">
                <h3 class="footer__subtitle text-white">Support</h3>
                <ul class="text-white">
                    <li class="footer__item text-white">
                        <a href="" class="footer__link text-white">FAQs</a>
                    </li>
                    <li class="footer__item text-white">
                        <a href="" class="footer__link text-white">Support Center</a>
                    </li>
                    <li class="footer__item text-white">
                        <a href="" class="footer__link text-white">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__rights text-white">
            <p class="footer__copy text-white">&#169; 2022 MALIKI. All rigths reserved.</p>
            <div class="footer__terms text-white">
                <a href="#" class="footer__terms-link text-white">Terms & Agreements</a>
                <a href="#" class="footer__terms-link text-white">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>

 <!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-line scrollup__icon"></i>
</a>


