  <!----navbar------->
  <nav class="relative   container-lg  mx-auto p-6  ">
    <!------flex container------>
    <div class="flex  justify-between items-center ">
        <!---Brand---->
        <div class="brand ">
            <h2 class="4xl-text  text-blue-200 font-bold">Maliki</h2>
        </div>
        <!----menu items-->
        <div class="md:flex hidden space-x-12  items-center">
            <a href="" class="2xl-text text-white hover:text-bg-blue-900">Home</a>
            <a href="" class="2xl-text text-white hover:text-bg-blue-900">Destination</a>
            <a href="" class="2xl-text text-white hover:text-bg-blue-900">Packages</a>
            <a href="" class="2xl-text text-white hover:text-bg-blue-900">About Us</a>
            <a href="" class="2xl-text text-white hover:text-bg-blue-900">Contacts</a>
        </div>
        <!---button-->
        <a href="" class="p-3 px-6 pt-2  bg-blue-700 text-white rounded-full baseline">Book now</a>
        <!--hamburger span-->
           <button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
           </button>
    </div>
 <!--hamburger mobile--->
 <div class="md:hidden">
    <div id="menu" class="absolute flex-col items-center self-end hidden py-8 mt-10 space-y-6 font-bold bg-blue-600 sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
        <a href="" class="2xl-text text-white">Home</a>
            <a href="" class="2xl-text text-white">Places</a>
            <a href="" class="2xl-text text-white">Flights</a>
            <a href="" class="2xl-text text-white">About Us</a>
            <a href="" class="2xl-text text-white">Contacts</a>
        </div>
    </div>
 </div>
</nav>