<!---Hero Section==-->
<div class="hero ">
    <div class="container flex flex-col-reverse md:flex-row 
items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0  ">
        <!---left-->
        <div class="flex flex-col mb-32 space-y-12 md:w-1/2 justify-center">
            <!--- added txt for my media query-->
            <h1 class=" text-sm text-xl  max-w-md  md:text-left font-bold txt text-white m-10 ">
                The Journey Of A Thousand <br> Miles Begins With A Flight
               Come Experince The Beauty <br> Of Travelling With Us
            </h1>
            <div class="flex justify-center  md:justify-start">
                <!---button-->
                <a href="" class="p-5 justify-start space-x-2  px-6 pt-2 py-2 text-white bg-blue-700 hover:bg-blue-200 baseline">Explore</a>
            </div>
        </div>
    </div>
</div>
<!---Hero Section==-->