  <!---- places -->
  <section id="places">
    <div>
        <div class="container mx-auto ">
            <!---top -->
            <div class="flex flex-col gap-3 items-center">
                <h1 class="text-blue-300 font-medium">Tours</h1>
                <h1 class="text-white text-3xl font-medium">Places To Go!</h1>
                <p class="w-1/2 text-center text-blue-300">Where To Go</p>
            </div>
        </div>
        <!---bottom -->
        <div class="p-5 sm:p-0 flex flex-wrap  justify-between">
            <!---card One-->
            <div class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg p-5 m-1  md:my-10 my-3 bg-white">
                <img src="../assets/pics/img1.jpg" alt="">
            </div>


            <!---card Two-->
            <div class="w-full md:w-5/12  lg:w-1/5 shadow-xl rounded-lg p-5 m-1  md:my-10 my-3 bg-white">
                <img src="../assets/pics/img2.jpg" alt="">
            </div>


            <!---card Three-->
            <div class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg p-5 m-1 md:my-10  my-3 bg-white">
                <img src="../assets/pics/img3.jpg" alt="">
            </div>


            <!---card Four-->
            <div class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg p-5 m-1  md:my-10 my-3 bg-white">
                <img src="../assets/pics/img4.jpg" alt="">
            </div>


            <!---card Five-->
            <div class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg p-5 m-1  md:my-10 my-3 bg-white">
                <img src="../assets/pics/img5.jpg" alt="">
            </div>


            <!---card Six-->
            <div class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg p-5 m-1 md:my-10 my-3 bg-white">
                <img src="../assets/pics/img6.jpg" alt="">
            </div>

            <!---card Seven-->
            <div class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg p-5 m-1 md:my-10 my-3 bg-white">
                <img src="../assets/pics/img7.jpg" alt="">
            </div>

            <!---card Eight-->
            <div class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg p-5 m-1 md:my-10 my-3 bg-white">
                <img src="../assets/pics/main.jpg" alt="">
            </div>



        </div>
    </div>
    </div>
</section>
<!---- places -->