<section id="services">
    <div>
        <div class="container mx-auto ">
            <!---top -->
            <div class="flex flex-col gap-3 items-center">
                <h1 class="text-blue-300 font-medium">Service</h1>
                <h1 class="text-white text-3xl font-medium">What We Offer</h1>
                <p class="w-1/2 text-center text-blue-300">Benefits</p>
            </div>
        </div>
        <!---bottom -->
        <div class="p-5 sm:p-0 flex flex-wrap  justify-between">
            <!---card One-->
            <div class="w-full md:w-5/12  shadow-xl rounded-lg p-5 flex flex-col gap-3  md:my-10 my-3 bg-white">
                <h1 class="text-center font-medium text-lg"><i class="ri-hotel-line bg-blue-400"></i></h1>
                <p class="text-center text-grey-400">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="text-blue-400 font-semibold text-sm items-center">Read More</a>
            </div>


            <!---card Two-->
            <div class="w-full md:w-5/12 shadow-xl rounded-lg p-5 flex flex-col gap-3  md:my-10 my-3 bg-white">
                <h1 class="text-center font-medium text-lg"><i class="ri-hotel-line bg-blue-400"></i></h1>
                <p class="text-center text-grey-400">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="text-blue-400 font-semibold text-sm text-center">Read More</a>
            </div>


            <!---card Three-->
            <div class="w-full md:w-5/12 shadow-xl rounded-lg p-5 flex flex-col gap-3 md:my-10  my-3 bg-white">
                <h1 class="text-center font-medium text-lg"><i class="ri-hotel-line bg-blue-400"></h1>
                <p class="text-center text-grey-400">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="text-blue-400 font-semibold text-sm text-center">Read More</a>
            </div>


            <!---card Four-->
            <div class="w-full md:w-5/12 shadow-xl rounded-lg p-5 flex flex-col gap-3  md:my-10 my-3 bg-white">
                <h1 class="text-center font-medium text-lg"><i class="ri-hotel-line bg-blue-400"></h1>
                <p class="text-center text-grey-400">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="text-blue-400 font-semibold text-sm text-center">Read More</a>
            </div>


            <!---card Five-->
            <div class="w-full md:w-5/12 shadow-xl rounded-lg p-5 flex flex-col gap-3  md:my-10 my-3 bg-white">
                <h1 class="text-center font-medium text-lg"><i class="ri-hotel-line bg-blue-400"></i></h1>
                <p class="text-center text-grey-400">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="text-blue-400 font-semibold text-sm text-center">Read More</a>
            </div>


            <!---card Six-->
            <div class="w-full md:w-5/12 shadow-xl rounded-lg p-5 flex flex-col gap-3 md:my-10 my-3 bg-white">
                <h1 class="text-center font-medium text-lg"><i class="ri-hotel-line bg-blue-400"></i></h1>
                <p class="text-center text-grey-400">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="text-blue-400 font-semibold text-sm text-center">Read More</a>
            </div>
        </div>
    </div>
    </div>
</section>