<section id="Tours">
    <!---flex container-->
    <div class="container flex flex-col space-x-12 px-4 mt-10 md:space-y-0 md:flex-row">
        <!---words-->
        <div class="flex flex-col space-y-12 md:w-1/2">
            <h2 class="max-w-md text-4xl font-bold text-center text-white md:text-left">
                Come Experience The Beauty Of Travelling With Us!
            </h2>
            <p class="max-w-sm text-center text-white md:text-left">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
                Laboriosam iusto quae dolor quaerat ut?
            </p>
            <p class="max-w-sm text-center text-white md:text-left">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
                Laboriosam iusto quae dolor quaerat ut?
            </p>
            <p class="max-w-sm text-center text-white md:text-left">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
                Laboriosam iusto quae dolor quaerat ut?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
                Laboriosam iusto quae dolor quaerat ut?
            </p>
            <img src="../assets/pics/World-pana.svg" alt="">
            <p class="max-w-sm text-center text-white md:text-left">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
                Laboriosam iusto quae dolor quaerat ut?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
                Laboriosam iusto quae dolor quaerat ut?
            </p> <p class="max-w-sm text-center text-white md:text-left">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
                Laboriosam iusto quae dolor quaerat ut?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
                Laboriosam iusto quae dolor quaerat ut?
            </p>
            <img src="../assets/pics/Relaxation-bro.svg" alt="">
        </div>
        <!---videos-->
        <div class="flex flex-col space-y-8 md:w-1/2">
            <!---video 1-->
            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                <!--heading-->
                <div
                    class=" rounded rounded-tr-lg rounded-md  baseline bg-blue-300 md:bg-transparent m-10 md:rounded-lg">
                    <div class="flex items-center space-x-2 ">
                        <div class="px-4 py-2 text-white rounded-full md:py-1 bg-blue-400">
                            01
                        </div>
                        <h3 class="text-base text-white font-bold  md:mb-4 md:hidden">
                            Lorem ipsum dolor sit amet <br>
                        </h3>
                    </div>
                </div>

                <div>
                    <h3 class="hidden mb-4 text-lg text-white font-bold md:block">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                    </h3>
                    <div class="video__container ">
                        <div class="video__content">
                            <video id="video-file" width="300" height="300">
                                <source src="../assets/pics/videos/vid1.mp4" type="video/mp4">
                            </video>
                            <button class="button button--flex video__button" id="video-button">
                                <i class="ri-play-circle-fill video__button-icon" id="video-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!---video 2-->
            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                <!--heading-->
                <div
                    class=" rounded rounded-tr-lg rounded-md  baseline bg-blue-300 md:bg-transparent m-10 md:rounded-lg">
                    <div class="flex items-center space-x-2 ">
                        <div class="px-4 py-2 text-white rounded-full md:py-1 bg-blue-400">
                            02
                        </div>
                        <h3 class="text-base text-white font-bold  md:mb-4 md:hidden">
                            Lorem ipsum dolor sit amet <br>
                        </h3>
                    </div>
                </div>

                <div>
                    <h3 class="hidden mb-4 text-lg text-white font-bold md:block">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                    </h3>
                    <div class="video__container ">
                        <div class="video__content">
                            <video id="video-file" width="300" height="300">
                                <source src="../assets/pics/videos/vid2.mp4" type="video/mp4">
                            </video>
                            <button class="button button--flex video__button" id="video-button">
                                <i class="ri-play-circle-fill video__button-icon" id="video-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!---video 3-->
            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                <!--heading-->
                <div
                    class=" rounded rounded-tr-lg rounded-md  baseline bg-blue-300 md:bg-transparent m-10 md:rounded-lg">
                    <div class="flex items-center space-x-2 ">
                        <div class="px-4 py-2 text-white rounded-full md:py-1 bg-blue-400">
                            03
                        </div>
                        <h3 class="text-base text-white font-bold  md:mb-4 md:hidden">
                            Lorem ipsum dolor sit amet <br>
                        </h3>
                    </div>
                </div>

                <div>
                    <h3 class="hidden mb-4 text-lg text-white font-bold md:block">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                    </h3>
                    <div class="video__container ">
                        <div class="video__content">
                            <video id="video-file" width="300" height="300">
                                <source src="../assets/pics/videos/vid3.mp4" type="video/mp4">
                            </video>
                            <button class="button button--flex video__button" id="video-button">
                                <i class="ri-play-circle-fill video__button-icon" id="video-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>