<section id="Tours ">
    <!---flex container-->
    <div class="container flex flex-col space-x-12 px-4 mt-10 md:space-y-0 md:flex-row">
        <!---words-->
        <div class="flex flex-col space-y-12 md:w-1/2">
            <h2 class="max-w-md text-4xl font-bold text-center text-white md:text-left">
                Come Experience The Beauty Of Travelling With Us!
            </h2>
            <p class="max-w-sm text-center text-white md:text-left">
                Your plans are in place. 
                Now comes the fun of anticipating your trip and 
                preparing yourself for adventure. These are the top
                 travel websites for getting familiar with your 
                 destination before you arrive.
            </p>
            <p class="max-w-sm text-center text-white md:text-left">
                The thought of venturing into the unknown draws people to travel.
                 Ironically, that same thought also deters people from traveling.
                  Anytime you plan to visit an unfamiliar area, you should consider 
                  taking safety precautions. 
                Here are the best ways to protect yourself and your belongings.
            </p>
            <p class="max-w-sm text-center text-white md:text-left">
                Don't let the expense of travel keep you from exploring the world. 
                From earning free airline miles to working abroad, the following resources
                 include impressive 
                suggestions on how to make travel more affordable.
            </p>
            <img src="../assets/pics/World-pana.svg" alt="">
            <p class="max-w-sm text-center text-white md:text-left">
                The results are in! Explore this year’s expert-approved
                 list of must-see destinations, places, 
                and unforgettable experiences guaranteed to inspire.
            </p> <p class="max-w-sm text-center text-white md:text-left">
                Whether you’re interested in traveling to a new city, going on a cruise, 
                or cooking a new dish — we’re committed to inspiring you to experience travel
                 in a whole new way. Maliki collection of 825+ 
                travel and guidebooks is sure to inspire the traveler within.
            </p>
            <img src="../assets/pics/Relaxation-bro.svg" alt="">
        </p> <p class="max-w-sm text-center text-white md:text-left">
            When you book on the app you can save up to 25% on select hotels while earning double the points with every booking. With these app deals you'll save even more on trips,
             and that means you can take more trips, and manage it all on the go.
        </p>
        </div>
        <!---videos-->
        <div class="flex flex-col space-y-8 md:w-1/2">
            <!---video 1-->
            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                <!--heading-->
                <div
                    class=" rounded rounded-tr-lg rounded-md  baseline bg-blue-300 md:bg-transparent m-10 md:rounded-lg">
                    <div class="flex items-center space-x-2 ">
                        <div class="px-4 py-2 text-white rounded-full md:py-1 bg-blue-400">
                            01
                        </div>
                        <h3 class="text-base text-white font-bold  md:mb-4 md:hidden">
                            Lorem ipsum dolor sit amet <br>
                        </h3>
                    </div>
                </div>

                <div>
                    <h3 class="hidden mb-4 text-lg text-white font-bold md:block">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                    </h3>
                    <div class="video__container ">
                        <div class="video__content">
                            <video id="video-file">
                                <source src="../assets/pics/videos/vid1.mp4" type="video/mp4">
                            </video>
    
                            <button class="button button--flex video__button" id="video-button">
                                <i class="ri-play-line video__button-icon" id="video-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!---video 2-->
            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                <!--heading-->
                <div
                    class=" rounded rounded-tr-lg rounded-md  baseline bg-blue-300 md:bg-transparent m-10 md:rounded-lg">
                    <div class="flex items-center space-x-2 ">
                        <div class="px-4 py-2 text-white rounded-full md:py-1 bg-blue-400">
                            02
                        </div>
                        <h3 class="text-base text-white font-bold  md:mb-4 md:hidden">
                            Lorem ipsum dolor sit amet <br>
                        </h3>
                    </div>
                </div>

                <div>
                    <h3 class="hidden mb-4 text-lg text-white font-bold md:block">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                    </h3>
                    <div class="video__container ">
                        <div class="video__content">
                            <video id=" video-file ">
                                <source src="../assets/pics/videos/vid2.mp4" type="video/mp4">
                            </video>
    
                            <button class="button button--flex video__button" id="video-button">
                                <i class="ri-play-line video__button-icon" id="video-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!---video 3-->
            <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                <!--heading-->
                <div
                    class=" rounded rounded-tr-lg rounded-md  baseline bg-blue-300 md:bg-transparent m-10 md:rounded-lg">
                    <div class="flex items-center space-x-2 ">
                        <div class="px-4 py-2 text-white rounded-full md:py-1 bg-blue-400">
                            03
                        </div>
                        <h3 class="text-base text-white font-bold  md:mb-4 md:hidden">
                            Lorem ipsum dolor sit amet <br>
                        </h3>
                    </div>
                </div>

                <div>
                    <h3 class="hidden mb-4 text-lg text-white font-bold md:block">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                    </h3>
                    <div class="video__container ">
                        <div class="video__content">
                            <video id=" video-file ">
                                <source src="../assets/pics/videos/vid3.mp4" type="video/mp4">
                            </video>
    
                            <button class="button button--flex video__button" id="video-button">
                                <i class="ri-play-line video__button-icon" id="video-icon"></i>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>