<section class="visits px-10" id="visits">
    <!---container heading-->
    <div class="max-w-6xl px-5 mx-auto mt-32 text-center">
        <!---heading-->
        <h2 class="text-4xl font-bold  text-white text-center ">Visits</h2>
        <!---container-->
        <div class="container  mx-auto py-40 flex-col-reverse lg:flex-row items-center flex gap-20">
            <!---left-->
            <div class="relative">
                <div class=" rounded-full overflow-hidden">
                    <img src="../assets/pics/uni.jpg" alt="" class="bg-center md:bg-contain  omo">
                </div>
            </div>
            <!---right-->
            <div class=" my-auto flex flex-col gap-3">
                <h1 class="text-red-400 font-bold">Visit</h1>
                <h1 class="text-red-400 text-3xl font-medium">Impression</h1>
                <h1 class="text-red-400 text-3xl font-medium">Experience</h1>
                <p class=" text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quis est recusandae esse, voluptate eius officia voluptas nobis debitis
                    atque ipsam ad in voluptatibus quae deserunt.
                </p>
                <h2 class="text-blue-300 font-medium">Abuja</h2>
                <div class="w-full bg-gray-500 h-1.5 rounded-md">
                    <div class="w-full bg-indigo-500 h-1.5 rounded-md"></div>
                </div>


                <h2 class="text-blue-300 font-medium">Lagos</h2>
                <div class="w-full bg-gray-500 h-1.5 rounded-md">
                    <div class="w-4/6 bg-orange-500 h-1.5 rounded-md"></div>
                </div>

                <h2 class="text-blue-300 font-medium">Ebonyi</h2>
                <div class="w-full bg-gray-500 h-1.5 rounded-md">
                    <div class="w-5/6 bg-yellow-500 h-1.5 rounded-md"></div>
                </div>

            </div>
        </div>
    </div>
</section>