@tailwind base;
@tailwind components;
@tailwind utilities;
.hero{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../assets/pics/img5.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
 }
html, body{
    scroll-behaviour:smooth;
}
@media(max-width:324px){
  h1{
    color:blue;
  }
  .button{
    margin-left: 20px;
    transform:translateY(-50px);
  }
}
@media(min-width:534px){
  .txt{
    transform:translateY(80px)
  }
  
}
