*{
    margin: 0;
    padding:0;
}
/*
body{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background:  url("../pics/img1.jpg"),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
}
*/